<h1 class="text-center mb-3">{{title}}</h1>
<h4>Quotes</h4>
<ul class="list-group">
    {{#each quotes}}
    <li class="list-group-item">
        {{this.by}}: {{this.from}}: {{this.sentence}}
    </li>
    {{/each}}
</ul>

<p>These quotes are taken from <a href="https://www.pastemagazine.com/tv/the-office/the-office-best-quotes/"
        target="_blank">pastemagazine</a>.</p>
<a href="https://github.com/Rukrymyrkur/office-quote-api" target="_blank">Source code</a>